{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "umd",
                "targets": {
                    "node": "12",
                    "browsers": [
                        "last 2 versions",
                        "ie > 11"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "add-module-exports"
    ]
}